/* filter bar */

.notification-filter{

  margin-top:8px;

  display:flex;

  gap:8px;

}

.notification-filter button{

  border:none;

  padding:6px 14px;

  border-radius:20px;

  background:#eef2ff;

  cursor:pointer;

  font-size:13px;

  transition:0.2s;

}

.notification-filter button:hover{

  background:#dbe6ff;

}

.notification-filter .active{

  background:#2f80ff;

  color:white;

}


/* badge lớp */

.class-badge{

  font-size:12px;

  background:#e8f0ff;

  color:#2f80ff;

  padding:2px 8px;

  border-radius:10px;

}