.parent-faq-section-container{
  background:white;
  padding:20px;
  border-radius:12px;
  width:100%;
}

.parent-faq-section-title{
  display:flex;
  align-items:center;
  gap:8px;

  font-size:18px;
  margin-bottom:15px;
}

.parent-faq-section-icon{
  color:#7c5cff;
}

.parent-faq-section-item{
  margin-bottom:16px;
}

.parent-faq-section-category{
  font-size:13px;
  color:#777;
  margin-bottom:5px;
}

.parent-faq-section-question{
  border:1px solid #e5e7eb;
  padding:12px;
  border-radius:8px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  cursor:pointer;
}

.parent-faq-section-answer{
  padding:10px;
  font-size:14px;
  color:#555;
}