.dialog-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.dialog{
  background:white;
  border-radius:16px;
  padding:32px;
  width:750px;
  max-width:90%;
  position:relative;
}

.close-btn{
  position:absolute;
  top:16px;
  right:20px;
  border:none;
  background:none;
  font-size:22px;
  cursor:pointer;
}

.student-card{
  display:flex;
  gap:32px;
  align-items:flex-start;
}

/* LEFT SECTION */

.avatar-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:170px;
}

.avatar-wrapper{
  position:relative;
  width:160px;
  height:160px;
}

.avatar{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #6092e6;
}

.avatar-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.45);
  color:white;
  font-size:28px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  opacity:0;
  cursor:pointer;
  transition:0.25s;
}

.avatar-wrapper:hover .avatar-overlay{
  opacity:1;
}

/* ACHIEVEMENT */

.achievement-box{
  margin-top:18px;
  width:100%;
  /* background:#f4f7fb; */
  /* border-radius:12px; */
  /* padding:14px; */
}

.achievement-box h3{
  margin-bottom:10px;
  color:#e74c3c;
  font-size:16px;
}

.achievement-box ul{
  padding-left:18px;
  margin:0;
}

.achievement-box li{
  font-size:14px;
  margin-bottom:5px;
}

/* RIGHT SIDE */

.student-info h2{
  color:#6092e6;
  margin-bottom:4px;
  font-size:28px;
}

.student-role{
  color:#555;
  margin-bottom:20px;
  font-size:16px;
}

.info-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  column-gap:50px;
  row-gap:12px;
  margin:20px 0;
}

.info-grid p{
  margin:0;
  line-height:1.45;
  font-size:16px;
}

/* .parent-box{
  padding:20px;
  border-radius:12px;
} */

.parent-box h3{
  margin-bottom:15px;
  color:#6092e6;
}

.parent-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.parent-card{
  background:white;
  /* padding:14px; */
  /* border-radius:10px; */
  /* border:1px solid #eee; */
}

.parent-card p{
  margin:6px 0;
}

@media (max-width:700px){

  .student-card{
    flex-direction:column;
    align-items:center;
    text-align:center;
  }

  .info-grid{
    grid-template-columns:1fr;
  }

  .parent-grid{
    grid-template-columns:1fr;
  }

}