.profile-page{
  padding:40px;
  background:#f4f7fb;
  min-height:100vh;
  max-width:1200px;
  margin:auto;
  border-radius: 20px;
}

/* CARD STYLE */

.card{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 8px 20px rgba(0,0,0,0.06);
}

/* PROFILE TOP */

.profile-top{
  display:flex;
  gap:30px;
  align-items:center;
  margin-bottom:30px;
}

.profile-avatar{
  width:150px;
  height:150px;
  border-radius:10px;
  object-fit:cover;
}

.profile-info h2{
  font-size:34px;
  color:#e74c3c;
}

.profile-role{
  font-size:18px;
  color:#444;
  margin:10px 0;
}

.profile-desc{
  color:#555;
  line-height:1.6;
}

/* BOTTOM CARDS */

.profile-bottom{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

/* SECTION TITLE */

.card h3{
  margin-bottom:15px;
  font-size:20px;
  border-bottom:3px solid #e74c3c;
  padding-bottom:8px;
}

/* TEXT */

.card p{
  margin:8px 0;
}

/* LIST */

.card ul{
  padding-left:20px;
}

.card li{
  margin:6px 0;
}