.achievements-section {
    padding: 0;
}

.achievements-section ul li {
    position: relative;
    padding-left: 0.95rem;
}

.achievements-section ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.42rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background: #b68af8;
}

