.notification-filter{
  margin-top:8px;
  display:flex;
  gap:8px;
}

.notification-filter button{
  border:none;
  padding:6px 14px;
  border-radius:20px;

  background:#ffffff;
  color:#4b5a72;

  font-size:13px;
  font-weight:600;
  cursor:pointer;

  border:0.0625rem solid #e4ebf8;

  box-shadow:0 0.2rem 0.8rem rgba(20,28,45,0.05);

  transition:
  transform 0.2s ease,
  box-shadow 0.2s ease,
  background 0.2s ease,
  color 0.2s ease;
}

.notification-filter button:hover{
  background:#ece2ff;
  color:#7d57d8;

  transform:translateY(-0.125rem);

  box-shadow:0 0.28rem 0.8rem rgba(136,93,239,0.2);
}

.notification-filter .active{
  background:linear-gradient(135deg,#b68af8,#885def);
  color:#ffffff;
  border-color:transparent;
}

.notification-filter .active:hover{
  transform:translateY(-0.08rem);
}